body {
	padding: 0px;
	background: #8AA3F4;
	width: 99%;
	height: 99%;
	position: absolute;
}
#main {
	background: #AEACAC;
	position: absolute;
	width: 50%;
	height: 70%;
	left: 25%;
	top: 20%;
}
h1 {
	position: relative;
	left: 33%;
	top: -2%;
	font-size: 3.5em;
	font-family: 'Fascinate Inline', cursive;
}
input {
	position: absolute;
	width: 40%;
	margin: 4px;
	left: 23%;
}
label {
	font-size: 20px;
	font-family: 'Permanent Marker', cursive;
}
#submit {
	position: absolute;
	left: 70%;
	top: 80%;
	height: 15%;
	width: 25%;
	font-family: 'Fascinate Inline', cursive;
	font-size: 3rem;
	background: #495EDF;
	border-radius: 10%;
}
#brandP {
	position: relative;
	left: 8px;
}
#EPriceP {
	position: relative;
	left: 8px;
}
#categoryP {
	position: relative;
	left: 8px;
}
#dateP {
	position: relative;
	left: 8px;
}#powerP {
	position: relative;
	left: 8px;
}
#eurostandardP {
	position: relative;
	left: 8px;
}#mileageP {
	position: relative;
	left: 8px;
}
#colorP {
	position: relative;
	left: 8px;
}#modelP {
	position: relative;
	left: 8px;
}
#regionP {
	position: relative;
	left: 8px;
}#transmissionP {
	position: relative;
	left: 8px;
}
#enigneP {
	position: relative;
	left: 8px;
}